$back-color: black;
$blue-color: #00dbde;
$lila-color: #7f5cff;

@import "./scss/screen-sizes.scss";
@import "./scss/ui-elements.scss";
@import "./scss/typography.scss";

body {
    background-color: $back-color;
    margin: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    align-items: baseline;
    z-index: 999;

    &-logo {
        height: 28px;
        width: 28px;
    }
    &-nav {
        width: 75%;
    }
    &-nav__ul {
        display: flex;
        justify-content: space-between;
    }
    &-nav__item {
        @extend .main-font;
        line-height: 140%;
        list-style-type: none;
        min-width: 50px;
    }
    &-nav__item:hover {
        opacity: 1;
        cursor: pointer;
    }
    &-nav__item-active {
        opacity: 1;

        &:after {
            width: 30px;
            content: "";
            display: block;
            height: 2px;
            background: $blue-color;
            box-shadow: 0px 0px 7px rgba(41, 183, 227, 0.33);
        }
    }
}
.top-block {
    width: 100vw;
    height: 100vh;
    background-image: url("./src/bcg-1.png");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;

    &-title {
        // border-left: 6px $lila-color solid;
        position: relative;
        padding: 20px 60px;

        &:before {
            content: "";
            height: 100%;
            width: 6px;
            position: absolute;
            top: 0;
            left: 0;
            background: $lila-color;
            box-shadow: 0px 0px 17px rgba(191, 58, 255, 0.4);
            border-radius: 41px;
        }
    }
    &-title__text {
        width: 600px;
        margin-bottom: 50px;
    }
    &-plain {
        content: "&#10022";
    }
    &__button {
    }
}

.about-us {
    background-size: cover;
    background-position: center center;

    background-image: url("./src/bcg-2.png");
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;

    &-block {
        position: relative;
        padding: 20px 60px;
        width: 35%;

        &:before {
            content: "";
            height: 100%;
            width: 6px;
            position: absolute;
            top: 0;
            left: 0;
            background: #56ffeb;
            box-shadow: 0px 4px 13px rgba(191, 58, 255, 0.44);
            border-radius: 62px;
        }
    }
}
