body {
    font-family: "HeliosBlackC", Helvetica, sens-serif;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%), #ffffff;
    border-radius: 6px;
    height: 60px;
    width: 200px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 145%;
    color: white;

    &:hover {
        filter: brightness(200%);
        color: #7a42f4;
    }

    @include respond-to("tablet") {
        font-size: 14px;
        height: 40px;
    }
    @include respond-to("s-desktop") {
        font-size: 16px;
        height: 50px;
    }
}
